---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}

    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <!-- <h4>{{ post.categories }}</h4> -->
<!--         <h4>{{post.categories | capitalize | join: ', '}}</h4>
        {% for category in post.categories %}
          <h3>{{ category }}</h3>
          <ul>
            {% for post in category[1] %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %} -->
        {% for category in post.categories %}
          <!-- <a href="/blog/{{ category | slugize }}/"> -->
          {{ category }}
          <!-- </a> -->
        {% endfor %}

        <!-- <h4>{{ post.excerpt }}</h4> -->
        <h5>{{ post.content | strip_html | truncatewords:50 }}</h5>
      </li>
      {%- endfor -%}
    </ul>

    
  {%- endif -%}

</div>